PORT=8000
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
JWT_SECRET_KEY=example_key
JWT_EXPIRES_IN=1d
HASH_SALT_ROUNDS=10
PGDATA=/var/lib/postgresql/data